body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(241, 142, 142),rgb(161, 45, 64));
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.title-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.title-button:hover {
  background-color: #0056b3;
}
